Pane {
    -fx-background-color: #ffffff;
}

.background-color {
    -fx-background-color: #eef4f9;
}
.background-color-2 {
    -fx-background-color: #eeffff;
}

Button {
    -fx-background-color:
        linear-gradient(from 0% 90% to 0% 100%, #81bbeb 0%, #3d678a 100%),
        #b5ebc9;
    -fx-font-weight: bold;
}

Label {
    -fx-text-fill: #000000;
}
Table Label {
    -fx-text-fill: #111111;
}