Pane {
    -fx-background-color: #444444;
}
.background-color {
    -fx-background-color: #ff33ff;
}
Label {
    -fx-text-fill: #FFFFFF;
}
Table Label {
    -fx-text-fill: #000000;
}

.background-color-2 {
    -fx-background-color: #ee22ee;
}