Pane {
    -fx-background-color: #444444;
}
.background-color {
    -fx-background-color: #444444;
}
Label {
    -fx-text-fill: #FFFFFF;
}
Table Label {
    -fx-text-fill: #000000;
}

.background-color-2 {
    -fx-background-color: #666666;
}