Pane {
    -fx-background-color: #ffffff;
}

.background-color {
    -fx-background-color: #eef4f9;
}
.background-color-2 {
    -fx-background-color: #eeffff;
}

Button {
    -fx-background-color:
        linear-gradient(from 0% 90% to 0% 100%, #81bbeb 0%, #3d678a 100%),
        #b5d2eb;
    -fx-font-weight: bold;
}

ToggleButton {
    -fx-background-color:
        linear-gradient(from 0% 90% to 0% 100%, #81bbeb 0%, #3d678a 100%),
        #b5d2eb;
    -fx-font-weight: bold;
}

RadioButton .dot{
    -fx-mark-highlight: #81bbeb;
    -fx-mark-color: #81bbeb;
}
RadioButton .radio{
    -fx-background-color: white;
    -fx-border-color: #81bbeb;
    -fx-border-radius: 10px;
    -fx-border-width: 3px;
}
RadioButton:disabled .radio{
    -fx-border-color: gray;
}

.table-view {
    -fx-background-color: #eef4f9;
}
.table-view .corner {
    -fx-background-color: transparent;
}
.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, #1dbbdd44, #81bbeb);
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}
.table-view .column-header {
    -fx-background-color: transparent;
}
.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}
.table-row-cell:selected {
    -fx-text-background-color: darkblue;
}
.table-row-cell:hover {
    -fx-text-background-color: blue;
    -fx-background-color: black;
}
.table-row-cell:odd{
    -fx-background-color: #93f9b911;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:even{
    -fx-background-color: #1dbbdd11;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}


Label {
    -fx-text-fill: #000000;
}
